{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    <img src="{{ asset('img/uploads/users/' ~user.image) }}" alt="{{ user.nom }}">
    <div> {{ user.image }}</div>
    <div> <label> Prénom :</label> {{ user.prenom }}</div>
    <div> <label> Nom : </label> {{ user.nom }}</div>
    <div> <label> Téléphone :</label>{{ user.telephone }}</div>
    <div> <label> Email :</label> {{ user.email }}</div>
    <div> <label> Campus </label>{{ user.campus.nom }}</div>

    <a href="{{ path('register_update', ['id'=> user.id]) }}">Modifier le profile</a>
    <button type="button" class="btn" name="modifProfil"> Modifier le profile</button>
{% endblock %}
