{% extends 'base.html.twig' %}

{% block title %}Register {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="centree">Mon Profil</h1>
    {{ form_start(modifForm) }}

    <img src="{{ asset('uploads/users/' ~ participant.image) }}" alt="{{ participant.nom }}" class="images">
    {{ form_widget(modifForm)}}
        <button type="submit" class="btn">Register</button>
        {{ form_end(modifForm) }}


{% endblock %}
