{%  extends 'base.html.twig' %}

{%  block body %}
    {{  form_start(sortieForm) }}
    <h1 class="text-center my-3"> Créer une sortie</h1>
    <div class="jumbotron">
        <div class="row justify-content-around">
             <div class="col-4">
                 <p><span class="font-weight-bold"> Nom de la sortie : </span> {{ form_widget(sortieForm.nom) }}</p>
             </div>
            <div class="col-4">
                <p><span class="font-weight-bold">Campus :</span>{{ form_widget(sortieForm.campus) }}</p>
            </div>
        </div>
        <div class="row justify-content-around">
             <div class="col-4">
                  <p> <span class="font-weight-bold"> Date et heure de la sortie : </span>  {{ form_widget(sortieForm.dateHeureDebut) }}</p>
             </div>
            <div class="col-4">
               <p> <span class="font-weight-bold"> Date limite d'inscription : </span>  {{ form_widget(sortieForm.dateLimiteInscription) }}</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
               <p> <span> Nombre de places : </span>  {{ form_widget(sortieForm.nbInscriptionMax) }}</p>
            </div>
            <div class="col-4">
               <p> <span> Durée : </span> {{ form_widget(sortieForm.duree) }} </p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
               <p><span> Description et infos : </span> {{ form_widget(sortieForm.infosSortie) }}</p>
            </div>
            <div class="col-4">
                <p> <span> Lieu : </span> {{ form_widget(sortieForm.lieu) }} </p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3">
                <div> {{ form_widget(sortieForm.enregistrer) }} </div>
            </div>
            <div class="col-3">
                <div> {{ form_widget(sortieForm.publierSortie) }} </div>
            </div>
            <div class="col-3">
                <div> {{ form_widget(sortieForm.annuler) }} </div>
            </div>



    {{ form_end(sortieForm) }}
{%  endblock %}

{% block title %}
{%  endblock %}