{%  extends 'base.html.twig' %}

{%  block body %}

    <p> Date du jour : {{ 'now'|date('d/m/Y') }}</p>
    <p> Participant: {{ app.user.pseudo}} </p>
    <div class="container">
        <div class="row row-cols-2">
        {{  form_start(sortieForm) }}
       <div class="col">
           <div><label> Nom de la sortie : </label> {{ form_widget(sortieForm.nom) }}<div>
               <div> <label> Date et heure de la sortie : </label>  {{ form_widget(sortieForm.dateHeureDebut) }}</div>
               <div> <label> Date limite d'inscription : </label>  {{ form_widget(sortieForm.dateLimiteInscription) }}</div>
               <div> <label> Nombre de places : </label>  {{ form_widget(sortieForm.nbInscriptionMax) }}</div>
               <div> <label> Durée : </label> {{ form_widget(sortieForm.duree) }} </div>
               <div><label> Description et infos : </label> {{ form_widget(sortieForm.infosSortie) }}</div>
        </div>
               <div class="row row-cols-2">
           <div class="col">
               <div><label> Campus </label> {{ form_widget(sortieForm.campus) }}</div>
               <div><label> Ville : </label> {{ form_widget(sortieForm.ville) }}</div>
               <div><label> Lieu : </label>{{ form_widget(sortieForm.lieu) }}</div>
           </div>
           </div>
    <button>Enregistrer</button>
    {{ form_end(sortieForm) }}
{%  endblock %}

{% block title %}
{%  endblock %}