{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afficher une Sortie</h1>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div>
            <label class="details">Nom de la sortie: </label>
            <span>{{ sortie.nom}}</span>
        </div>
        <div>
            <label class="details">Date et heure de la sortie: </label>
            <span>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</span>
        </div>
        <div>
            <label class="details">Date limite d'inscription :</label>
            <span>{{ sortie.dateLimiteInscription | date('d/m/Y') }} </span>
        </div>
        <div>
            <label class="details">Nombre de places : </label>
            <span>{{ sortie.nbInscriptionMax}} </span>
        </div>
        <div>
            <label class="details">Durée: </label>
            <span>{{ sortie.duree }}  minutes</span>
        </div>
        <div>
            <label class="details">Description et infos </label>
            <span>{{ sortie.infosSortie }}</span>
        </div>
        <div>
            <label class="details">Campus :</label>
             <span>{{ sortie.campus.nom}}</span>
        </div>
        <div>
            <label class="details">Lieu : </label>
            <span>{{ sortie.lieu.nom }}</span>
        </div>
        <div>
            <label class="details">Rue : </label>
            <span>{{ sortie.lieu.rue }}</span>
        </div>
        <div>
            <label class="details">Code Postal : </label>
             <span>{{ sortie.lieu.ville.codePostal }}</span>
        </div>
        <div>
            <label class="details">Latitude : </label>
            <span>{{ sortie.lieu.latitude }}</span>
        </div>
        <div>
            <label class="details">Longitude : </label>
            <span>{{ sortie.lieu.longitude }}</span>
        </div>


    </div>


{% endblock %}

{% block title %}

{% endblock %}

