{% extends 'base.html.twig' %}

{% block body %}

    <div class="sortie-details-infos">
        <div>Nom de la sortie: {{ sortie.nom}}</div>
        <div>Date et heure de la sortie: {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</div>
        <div>Date limite d'inscription {{ sortie.dateLimiteInscription | date('d/m/Y') }} </div>
        <div>Nombre de places : {{ sortie.nbInscriptionMax}} </div>
        <div>Durée: {{ sortie.duree }}  minutes</div>
        <div>Description et infos {{ sortie.infosSortie }}</div>
        <div>Campus :{{ sortie.campus.nom}}</div>
        <div>Lieu : {{ sortie.lieu.nom }}</div>
        <div>Rue : {{ sortie.lieu.rue }}</div>
        <div>Code Postal : {{ sortie.lieu.ville.codePostal }}</div>
        <div>Latitude : {{ sortie.lieu.latitude }}</div>
        <div>Longitude : {{ sortie.lieu.longitude }}</div>


    </div>

    <div>

        <div></div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

