{% extends 'base.html.twig' %}

{% block body %}

<section class="">
    <h1 class="text-center  my-3">Sortie | {{ sortie.nom }}</h1>

    <div class="jumbotron">
        <div class="row justify-content-around">
            <div class="col-4">
                <p><span class="font-weight-bold">Nom de la sortie :</span> {{ sortie.nom }}</p>
            </div>
            <div class="col-4">
                <p><span class="font-weight-bold">Campus :</span>{{ sortie.campus.nom  }}</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <p><span class="font-weight-bold">Date et heure de la sortie :</span> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            </div>
            <div class="col-4">
                <p><span class="font-weight-bold">Lieu :</span> {{ sortie.lieu }}</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <p><span class="font-weight-bold">Date et heure limite d'inscription :</span> {{  sortie.dateLimiteInscription|date('d/m/Y') }}</p>
            </div>
            <div class="col-4">
                <p><span class="font-weight-bold">Rue :</span> {{ sortie.lieu }}</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <p><span class="font-weight-bold">Nb de participants maximum :</span> {{ sortie.nbInscriptionMax }}</p>
            </div>
                <div class="col-4">
                    <p><span class="font-weight-bold">Cap :</span> 84100</p>
                </div>
            </div>
        <div class="row justify-content-around">
           <div class="col-4">
                 <p><span class="font-weight-bold">Durée :</span> {{ sortie.duree / 60  }} minutes</p>
           </div>
           <div class="col-4">
                    <p><span class="font-weight-bold">Latitude :</span> </p>
           </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-4">
                    <p><span class="font-weight-bold">Description et infos :</span> {{ sortie.infosSortie }}</p>
                </div>
                <div class="col-4">
                    <p><span class="font-weight-bold">Longitude :</span> </p>
                </div>
            </div>

        </div>

    </div>
</section>


{% endblock %}

{% block title %}

{% endblock %}

